* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
    
  }
  *{
    font-family: 'Changa', sans-serif;
  }
  
  body {
    background-color: #f6f4ee ;
    /* لون الخلفية */
  }
  *{
    font-family: 'Changa', sans-serif;  
  }
  body{
    background-color:#f6f4ee ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  nav {
    /* الناف */
    background-color:#f6f4ee;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: auto;
    padding: 1.2%;
    box-shadow: #ebe8d440 0px 50px 100px -20px, #8989894d 0px 30px 60px -30px;
    /* box-shadow: #00000040 1px 2px 100px 10px, #8989894d 0px 30px 60px -30px; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  height: 80px;
  
  
  }
  nav img{
    position: relative;
    top: -45px;
  }
  nav a {
    position: relative;
    top: 2px;;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #101010;
    /* اللون الأساسي */
    font-family: 'Changa', sans-serif;
    transition: 0.3;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    padding: 0 10px;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    /* لون التأثير */
    bottom: -7px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
  
  }
  
  a:hover {
    color: rgb(200, 173, 101);
    /* التأثير الي بعد توجيه الماوس */
  }
  
  a:hover::before {
    width: 100%;
  }
  .logo{
    position: relative;
    top: -45px;
    right: 20px;
  }
    .a1{
    color: rgb(200, 173, 101);
  }
  
  
  footer{
    text-align:center;
    position: relative;
    bottom: -240px;
    height: 200px;
    /* font-size: 2px; */
    /* bottom: -550px; */
  }
  footer h3{
    text-align:center;
    position: relative;
    top: 100px;
    font-size: 13px;
    /* bottom: -60px; */
    /* font-size: 2px; */
    /* bottom: -550px; */
  }
  .title{
    /* position: relative;
    left: -140px; */
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
   
  }
  .t1{
    /* position: relative;
    left: 400px; */
    color: #5a5a5a;
    margin-right: 1px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .t2{
    color: #5a5a5a;
    /* position: relative;
    left: 400px; */
    margin-right: -525px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  hr{
    color: #b8b6b4;
    position: relative;
    left: 310px;
    text-align: right;
    width: 658px;
  }
  audio{
    width: 665px;
    position: relative;
    left: 305px;
    border-radius: 12px;
    background-color: #ac9550;
  }
  #interface{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    left: 220px; */
    /* border-radius: 20px; */
  }
  /* Paragraph No.1 */
  .L1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: -15px;
  }
  .L2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: -210px;
  }
  .L3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 387px;
  }
  /* Paragraph No.2 */
  .L4{
    margin-right: -90px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .L5{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: -510px;
  }
  .L6 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 180px;
  }
  /* Paragraph No.3 */
  .L7 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 25px;
  }
  .L8 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 480px;
  }
  #q1{
    color: #b8b6b4;
    position: relative;
    left: 290px;
    text-align: right;
    width: 680px;
  }
  .bos{
    /* position: relative;
    left: 290px; */
    margin-left: 570px;
  }
  .son{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #or{
    transform: translateY(330px);
    width: 1300px;
    margin-left: -310px;
  }